<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<footer>
    <div class="footer">
        <p>Siguenos en Nuestras Redes Sociales</p>
        <div class="socialLinks">
            <a href="https://x.com/UAMJobs" target="_blank"><img src="/media/icons/twitter-x.svg" alt=""></a>
            <a href="https://www.facebook.com/profile.php?id=61575891967243" target="_blank"><img src="/media/icons/facebook.svg" alt=""></a>
            <a href="https://www.instagram.com/uamjobs/" target="_blank"><img src="/media/icons/instagram.svg" alt=""></a>
        </div>
    </div>
</footer>