<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/headerIndex.css">
    <title><%=tituloPagina%></title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/"><img src="/media/logo.png" alt="logoUAMJobs"></a>
        </div>
        <div class="links">
            <a href="/login" class="login">Iniciar Sesión</a>
            <a href="/register" class="login">Registrase</a>
        </div>
    </div>
</body>
</html>