.footer{
    padding: 1rem;
    align-items: center;
    justify-items: center;
    background-color: #f7f7fc;
}

.footer .socialLinks{
    padding: 1rem;
}

.footer a{
    text-decoration: none;
    margin: 2rem;
    color: black;
}

.footer img{
    height: 2rem;
}

