
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body, html {
    background-color: #f8f9fa;
    margin: 0;
    height: 100%; 
    font-family: "Quicksand", sans-serif;
    min-height: 100vh;
}

.navbar{
    font-size: 1.2rem;
}
.sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 25px;
    background-color: #bc3a2f !important;
    color: white !important;
    overflow-y: auto;
    height: calc(100vh - 56px);
    font-size: 1.5rem;

}

.sidebar .nav-link {
    color: white !important;

}

.sidebar .nav-link:hover {
    color: white;
}

.summary-card {
    max-width: 400px;
    font-size: 0.9rem;
}

.buton-primary{
    justify-content: center;
    align-items: center;
    display: flex;

}
.btn-primary{
    background-color: #bc3a2f !important;
    border-color: #bc3a2f !important;
}

.btn-primary:hover {
    background-color: #9f2a1f !important;

}

.profile-photo {
    max-width: 100px;
    height: auto;
    border-radius: 10%;
    object-fit: cover;
}

main {
    min-height: 100vh;
    margin-top: 56px;
    flex: 1;
    padding-top: 70px;
}


.card:hover {
    transform: scale(1.05);
}

/* Estilos para el sidebar en móviles */
@media (max-width: 767.98px) {
    .sidebar {
        position: static;
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        height: auto;
    }
    .sidebar .nav {
        flex-direction: column;
    }
    
   
}

/* Ajustes para formularios */
.form-control {
    border-radius: 5px;
}

/* Ajustes para la tabla de vacantes y mensajes */
.table {
    margin-top: 20px;
}

/* Ajustes para tarjetas */
.card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}